export OLD_CONNECTION="dbname=rubygems_development host=127.0.0.1 user=rubygems_master password=randompass-old port=5555"
export NEW_CONNECTION="dbname=rubygems_development host=127.0.0.1 user=rubygems_master password=randompass-new port=5556"
export SUB_CONNECTION="dbname=rubygems_development host=old-db user=rubygems_master password=randompass-old port=5555"
export PGB_CONNECTION="host=127.0.0.1 port=5557 user=pgbouncer"
